@import "colors/catppuccin-mocha.css";

window#waybar {
	background-color: transparent;
}

* {
	font-family: "SpaceMono Nerd Font";
	font-weight: 600;
	font-size: 11px;
	padding: 0;
	border-radius: 6px;
}

.modules-left,
.modules-center,
.modules-right {
	margin-top: 2px;
}

.modules-left { margin-left: 4px; }
.modules-right { margin-right: 4px; }

#custom-launcher,
#workspaces,
#clock,
#custom-cava,
#bluetooth,
#window,
#custom-spotify,
#network,
#custom-powermenu,
box#sys-tray {
	margin: 2px 4px;
	background-color: @mantle;
	box-shadow: 2px 3px @base;
	border: 1px solid @overlay0;
}

/* Padding for individual modules */
#custom-launcher,
#custom-powermenu {
	padding: 2px 12px 2px 10px;
}

#workspaces {
	padding: 2px 10px;
}
#workspaces button {
	padding: 0 5px;
}

#clock,
#network,
#custom-cava,
#window {
	padding: 2px 10px;
}

#bluetooth {
	padding: 2px 4px 2px 10px;
}

#custom-spotify {
	padding: 2px 10px;
	background-color: @mantle;
}

box#sys-tray {
	padding: 2px 10px;
}

/* Colors */
#backlight { color: @blue; }
#battery { color: @overlay2; }
#pulseaudio { color: @lavender; }

/* Audio / Brightness text formatting */
#pulseaudio.text,
#battery.text {
	padding-right: 8px;
	margin-left: 1px;
	color: @lavender;
}

/* Sliders */
#pulseaudio-slider,
#backlight-slider {
	border: none;
	margin-right: 10px;
}

#backlight-slider {
	margin-left: 10px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
	margin-left: -10px;
	min-width: 10px;
	min-height: 10px;
	background: transparent;
	box-shadow: none;
	padding: 0;
}

#pulseaudio-slider trough,
#backlight-slider trough {
	min-width: 80px;
	border-radius: 5px;
	background-color: @surface0;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
	border-radius: 5px;
	min-height: 8px;
}

/* Custom glyphs */
#custom-dot,
#custom-right-arrw {
	color: @mantle;
}
